/********** Base styles **********/
* {
  box-sizing: border-box;
}
 body{
 font-family: Arial, Helvetica, sans-serif;
 	margin: 10px;
 }
 
h1 {
  margin: 30px;
  text-align: center;
  font-size: 175%;
}

.row {
  width: 100%;

}

.main1, .main2, .main3 {
  border: 1px solid black;
  margin: 5px;
  height: 200px;
  
  }

.main1{
    background-color: yellow;
}
.main2{
    background-color: gray;
}

.main3{
  	background-color: #90ff90;
  }

.abc1, .abc2, .abc3 { 
   width: 200px;
   text-align: center;
   font-size: 125%;
   color: white;
   border: 1px solid black;
   margin: 0px;
   padding:5px;
   position: relative;
   top: 0;
   right: 0;
   float: right;
   
}

.abc1{
	background-color: red;
}

.abc2{
	background-color: black;
}

.abc3{
	background-color: green;
}

p {
  padding: 40px 10px 10px 10px;
  font-size: 100%;
  color: black;
  text-align: justify;
  
}

/********** Large devices only **********/
@media (min-width: 992px) {
 
  .col-lg-4 {
    float: left;
    width: 33.3%;
    
  }
 
}


/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
 
  .col-md-6 {
    width: 50%;
    float: left;
    margin-top: 10px;
  }
 
  }
  .col-md-12 {
    float: left;
  }
}
/********** Small devices only **********/
@media (max-width: 767px) {
    
  .col-sd-12 {
    width: 100%;
    float: left;
    margin-top:5px;
  }
}
